
body{
  overflow: hidden;
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.left {
  width: 220px;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.top {
  text-align: center;
  margin-bottom: 12px;
}
.top img{
  width: 188px;
}

.menu {
  padding: 10px 0;
}

.tree {
  list-style-type: none;
  padding: 0;
}
.tree span{
  font-size: 14.5px;
  color: #374151;
  font-weight: 600;
  margin-left: 6px;
  /* 强制不换行 */

  white-space: nowrap;
}
.menu{
  width: 220px;
  height: calc(100% - 30px);
  overflow-x: auto;
}
.parent div{
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 6px;
  margin-top: 5px;
  cursor: pointer;
}

.parent div:hover{
  background: #f1f1f1;
}

.tree ul {
  padding-left: 20px;
  display: none;
}

.tree .active > .nested {
  display: block;
}

.content {
  width: calc(100% - 220px);
}

.header {
  width: 100%;
  height: 68px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.search {
  display: flex;
  margin-left: 16px;
}

.search input[type="text"] {
  padding: 12px;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
}

.search button {
  padding: 8px 15px;
  font-size: 14px;
  /* background-color: #007bff; */
  color: #fff;
  /* border: 1px solid #007bff; */
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.nav {
  margin-right: 20px;
}

.nav a {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333333;
  text-decoration: none;
}

.main {
  display: flex;
  padding: 10px 28px;
}

.content-left {
  width: 75%;
  padding-right: 20px;
  border-right: 1px solid #e5e7eb;
}

.recent, .collection, .tabs {
  margin-bottom: 20px;
}

.recent h2, .collection h2, .tabs h2 {
  margin-bottom: 10px;
  font-size: 16px;
  letter-spacing: .6px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333333;
}
.recent ul{
  display: flex;
  padding-inline-start: 0;
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 28px;
  width: 100% - 20px;
  overflow: auto;
}
.recent ul::-webkit-scrollbar {
  height: 8px;
  background: #f3f3f3;
  border-radius: 10px;
}
.recent ul::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 10px;
}

.recent li {
  width: 58px;
  background: #999999;
  list-style: none;
  border-radius: 16px;
  background: #fff;
  cursor: pointer;
  margin-right: 26px;
}
.recent li i{
  display: flex;
  width: 58px;
  height: 58px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
.recent li i:hover{
  /* 向上 */
  transform: translateY(-5px);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.recent li i img{
  border-radius: 16px;
}
.recent li p{
  width: 100%;
  text-align: center;
  line-height: 13px;
  font-size: 13px;
  color: #333333;
  margin-top: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.recent li:last-child, .collection li:last-child, .tabs li:last-child {
  border-bottom: none;
}
.collection ul{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 自适应数量 */
  grid-gap: 22px;
  padding-inline-start: 0;
  padding: 3px;
  height: calc(100vh - 350px);
  overflow: auto;
}
/* 滚动条隐藏 */
.collection ul::-webkit-scrollbar {
  display: none;
}
.collection ul li{
  width: 100%;
  height: 80px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.collection ul li:hover{
  background: #f1f1f1;
}
.collection ul li div{
  margin-left: 16px;
}
.collection ul li i{
  width: 38px;
  height: 38px;
  background: #ebebeb;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}
.collection ul li i img{
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.collection ul li h3{
  width: 120px;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 6px;
  /* 省略 */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.collection ul li p{
  width: 120px;
  font-size: 14px;
  color: #999999;
  line-height: 20px;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tabs{
  margin-left: 16px;
}
.tabs ul{
  height: calc(100vh - 168px);
  padding-inline-start: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}
.tabs ul::-webkit-scrollbar {
  display: none;
}
.tabs ul li{
  height: 38px;
  width: 100%;
  /* background: #f2f2f2; */
  border-radius: 10px;
  padding: 0 6px;
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  transition: 0.2s ease-in-out;
}
.tabs ul li:hover{
  background: #f1f1f1;
}
.tabs ul li img{
  width: 18px;
  height: 18px;
  border-radius: 10%;
}
.tabs ul li p{
  margin-left: 10px;
  font-size: 14px;
  color: #333333;
  line-height: 18px;
  width: 280px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.icon{
  width: 18px;
  height: 18px;
}
.icon img{
  width: 18px;
  height: 18px;
}
.selected{
  background: #f1f1f1;
}
.expand-icon{
  font-size: 10px;
  color: #dadada;
  margin-left: 10px;
}
.parent{
  margin-left: 16px;
}
#navs-container{
  margin-left: -16px;
}
.search-view{
  width: 500px;
  max-height: 80%;
  overflow: auto;
  border-radius: 6px;
  background: #ffffff;
  position: absolute;
  top: 80px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
}
.search-view ul{
  padding: 10px 20px;
}
.search-view ul li{
  display: flex;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 18px;
}
.search-view ul li a{
  width: 380px;
  font-size: 14px;
  color: #333333;
  margin-left: 10px;
  text-decoration: none;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.search-view ul li a:hover{
  text-decoration: underline;
}
.search-view ul li img{
  width: 18px;
  height: 18px;
  border-radius: 10px;
}
